XSOAR-Export-Incident-Data/ExportAndImportIncidentDataExample_final.yml
id: 1a7f2082-b0bf-4966-85e1-4d5c27462048
version: 3
vcShouldKeepItemLegacyProdMachine: false
name: ExportAndImportIncidentDataExample
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: e144b635-1a5a-42f6-8b11-c8ec48f3483c
    type: start
    task:
      id: e144b635-1a5a-42f6-8b11-c8ec48f3483c
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 66073087-7aa1-45c4-805e-e90bfe274252
    type: regular
    task:
      id: 66073087-7aa1-45c4-805e-e90bfe274252
      version: -1
      name: Export Data
      description: Gets a list of incident objects and the associated incident outputs
        that match the specified query and filters. The results are returned in a
        structured data file.
      scriptName: GetIncidentsByQuery
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      outputFormat:
        simple: json
      query:
        simple: id:752
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 180
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 559e3fca-0d84-4cb4-8954-84309a4b2079
    type: title
    task:
      id: 559e3fca-0d84-4cb4-8954-84309a4b2079
      version: -1
      name: Import
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: db4ea969-881b-418c-8037-d944bf9c1740
    type: regular
    task:
      id: db4ea969-881b-418c-8037-d944bf9c1740
      version: -1
      name: Parse incident data from file
      description: Set a value in context under the key you entered.
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      key:
        simple: IncidentJSON
      value:
        simple: ${FileData}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 630
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 0e31eada-e4e4-4495-82e8-26d6913249f5
    type: regular
    task:
      id: 0e31eada-e4e4-4495-82e8-26d6913249f5
      version: -1
      name: Read Incident File
      description: Load the contents of a file into context.
      scriptName: ReadFile
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      entryID:
        simple: ${File.EntryID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: c7bad7a2-51a0-4d8e-826b-0be55cfb9060
    type: regular
    task:
      id: c7bad7a2-51a0-4d8e-826b-0be55cfb9060
      version: -1
      name: Create New Incident
      description: commands.local.cmd.create.inc
      script: Builtin|||createNewIncident
      type: regular
      iscommand: true
      brand: Builtin
    scriptarguments:
      closetime:
        simple: ${IncidentJSON.[0].closed}
      customFields:
        simple: ${IncidentJSON.[0].CustomFields}
      name:
        simple: ${IncidentJSON.[0].name}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 825,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
